body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding:0;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  cursor: pointer;
  list-style-type: none;
}

.active {
  color: pink;
}